*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.shaftoli{
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 50%;
    margin-left: 600px;
}

.bodiring{
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 50%;
    margin-left: 1050px;
    margin-top: 450px;
    
}

.pamidor{
    width: 500px;
    height: 650px;
    background: rgba(106, 94, 94, 0.34);
    opacity: 0.5;
    margin-top: -750px;
    margin-left: 650px;
    border-radius: 12px;
}


.email{
 width: 400px;
 height: 60px;
 border-radius: 5px; 
margin-left: 40px;
margin-top  : 50px;
opacity: 0.5;
background: rgba(106, 94, 94, 0.34);
font-size: 25px;
color: aqua;
}

.password{
    width: 405px;
    height: 60px;
    border-radius: 5px; 
   margin-left: 40px;
   margin-top  : 50px;
   opacity: 0.5;
   background: rgba(106, 94, 94, 0.34); 
    font-size: 25px;
    color: aqua;
}

h1{
color: rgb(246, 246, 248);
padding-left: 120px;
font-size:50px ;
margin-top: 10px;
}

.ptegi{
    font-size: 25px;
    margin-bottom: -30px;
    color: antiquewhite;
    margin-left: 15px;
}

.pass{
    font-size: 25px;
    margin-bottom: -30px;
   color: aliceblue;
    margin-left: 15px;
}

.btn{
    width: 405px;
    height: 60px;
    border-radius: 5px; 
   margin-left: 40px;
   margin-top  : 80px;
   opacity: 0.5;
   background: rgb(233, 224, 224); 
    font-size: 25px;
}

.google{
    width: 150px;
    height: 50px;
    border-radius: 5px; 
   margin-left: 40px;
   margin-top  : 80px;
   opacity: 0.5;
  background: aliceblue;
    font-size: 25px;
    
}

.facebook{
    width: 160px;
    height: 50px;
    border-radius: 5px; 
   margin-left: 70px;
   margin-top  : 80px;
   opacity: 0.5;
  background: aliceblue;
    font-size: 25px;
}
